Package: bodhi-update
Version: 0.3
Architecture: all
Priority: optional
Depends: yad, xterm, apt
Suggests: apt-config-auto-update
Section: x11
Maintainer: Gareth Williams <hippytaff@bodhilinux.com>
Description: Systray update notifier
 Shows available updates in system tray and allows install of updates.
 Low resource implementation indicating type of updates available, 
 e.g. security and quantity of updates available.
